<!DOCTYPE html>
<html>
  <head>
    <title>Unlimitlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type='text/javascript'>
      window.logo_image = "<%= image_url('logo.jpg') %>";
    </script>
    <meta property="og:image" content="<%=image_url('ss-ul.png')%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>



 
  </body>
</html>
